@import "_color.scss";
*{
    box-sizing: border-box;
}
html{
    color-scheme: dark light;
}

html, body{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    margin-inline: auto;
    @include background_primary;
    scroll-behavior: smooth !important;
    
    .wrapper {
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;

        .header {
            grid-row: 1; 
            position: sticky;
            top: 0;
            z-index: 1000;
            background-color: inherit;
        }
        
        .main {
        grid-row: 2;
        }
        
        .footer {
        grid-row: 3; 
        }
    }

    //mask created with https://css-generators.com/wavy-shapes/ 
    .personal, .technical{

        --mask:
        radial-gradient(84.97px at 50% 114px,#000 99%,#0000 101%) calc(50% - 76px) 0/152px 51% repeat-x,
        radial-gradient(84.97px at 50% -76px,#0000 99%,#000 101%) 50% 38px/152px calc(51% - 38px) repeat-x,
        radial-gradient(84.97px at 50% calc(100% - 114px),#000 99%,#0000 101%) calc(50% - 76px) 100%/152px 51% repeat-x,
        radial-gradient(84.97px at 50% calc(100% + 76px),#0000 99%,#000 101%) 50% calc(100% - 38px)/152px calc(51% - 38px) repeat-x;
      -webkit-mask: var(--mask);
              mask: var(--mask);
    }
    
}


// Responsive breakpoints based on Bootstrap

@mixin xs {
    @content;
    
}

@mixin sm {
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        @content;
    }
}

@mixin md {
    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        @content;
    }
}

@mixin lg {
    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        @content;
    }
}

@mixin xl {
    // Extra large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        @content;
    }
}
