//lightmode
$primary-color: #D1DBE4;
$secondary-color: #5D7B9D;
$hoover-color:  #C6A76F;
$component-color: #4A5A6A;
$primary-button-color: #194a7a;
$secondary-button-color: #a3b7ca;
$button-hover-color: #194a7a;
$text-color: #000000;

//darkmode
$dark-background: #000000;
$dark-text:#ffffff;
$dark-button: #C8ACD6;
$dark-hover-color: #2E236C;

//color palette
$one: #17153B;
$two: #2E236C;
$three: #433D8B;
$four: #C8ACD6;


@mixin background_primary {
  background-color: $primary-color;
  color: $text-color;
}

@mixin background_secondary {
  background-color: $secondary-color;
  color: $text-color;
}

@mixin background_dark {
  background-color: $text-color;
  color: $dark-text;
}

@mixin component_color{
  background-color: $component-color;
  color: $text-color;
  box-shadow: 0 6px 10px $text-color;

  &:hover {
    background-color: $hoover-color;
    color: $text-color;
  }
}


@mixin component_color_dark{
  background-color: $dark-hover-color;
  color: $dark-text;

  &:hover {
    background-color: $three;
    color: $dark-text;
  }
}

@mixin button_primary_color {
  background-color: $primary-button-color;
  color: $primary-color !important;
  border: 1px solid $secondary-button-color;
  transition: color 0.3s ease;

  &:hover {
    background-color: $secondary-button-color;
    border: 1px solid $primary-button-color;
    color: $text-color !important;
  }
}

@mixin button_secondary_color {
  border: 1px solid $primary-button-color;
  background-color: $secondary-button-color;
  color: $text-color;
  transition: color 0.3s ease;

  &:hover {
    border: 1px solid $primary-button-color;
    background-color: $button-hover-color;
    color: $primary-color;
  }
}

@mixin darkmode_button{
  border: 1px solid $dark-text;
  background-color: $dark-button;
  color: $text-color;
  transition: color 0.3s ease;

  &:hover {
    border: 1px solid $dark-text;
    background-color: $dark-hover-color;
    color: $dark-text;
  }
}

@mixin review_card{
  background-color: rgba($secondary-color, 0.5);;
  color: $text-color;
  box-shadow: 0 6px 10px $component-color;
}

@mixin icon_color{
  color: $text-color;
  transition: color 0.3s ease;

  &:hover {
    color: $hoover-color;
  }
}

@mixin icon_color_dark{
  color: $dark-button;
  transition: color 0.3s ease;

  &:hover {
    color: $dark-text;
  }
}

@mixin contact_form_colors{
  background-color: $button-hover-color;
  color: $text-color;
  box-shadow: 0 6px 10px $text-color;

  label {
    color: $primary-color;
  }
  input, textarea {
    background-color: $secondary-button-color;
    color: $text-color;
    border: 1px solid $primary-button-color;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;

    &:focus {
      border-color: $primary-button-color;
      outline: none;
    }
  }

}

@mixin navigation_color{
  a{
    color: $text-color;
    &:hover {
      color: $hoover-color;
      background-color: $secondary-color;
    }
  }
}

@mixin dark_navigation_color{
  a{
    color: $dark-text;
    &:hover {
      color: $dark-text;
      background-color: $dark-hover-color;
    }
  }
}