@import "_color.scss";

@mixin button_primary {
    @include button_primary_color;
    color: $text-color;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    transition: color 0.5s ease;
  
    &:hover {
        transition: color 0.3s ease;
    }
}

@mixin button_secondary {
  @include button_secondary_color;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  transition: color 0.5s ease;

    &:hover {
        transition: color 0.3s ease;
    }
}

@mixin button_dark {
    @include darkmode_button;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    transition: color 0.5s ease;
  
      &:hover {
          transition: color 0.3s ease;
        }
  }

@mixin component_box{
    @include component_color;
    border-radius: 10px;
    padding: 30px 25px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transition: color 0.5s ease;
    }
    
}

@mixin component_box_dark{
    @include component_color_dark;
    border-radius: 10px;
    padding: 30px 25px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transition: color 0.5s ease;
    }
    
}

@mixin contact_form {
    @include contact_form_colors;
    margin: 5% auto;
    padding: 20px 10px;
    text-align: center;
    align-items: center;
    width: 90%;

    label {
        display: block;
        padding-bottom: 10px;
        font-size: 1.2rem;
    }

    input, text {
        width: 100%;
        max-width: 400px; 
        border-radius: 5px;
        padding: 10px;
        box-sizing: border-box;
    }

    textarea {
        height: auto;
        width: 100%; 
        max-width: 400px; 
    }

    button {
        @include button_primary;
        margin-top: 30px;
        width: 100%;
        max-width: 200px; 

        &:hover {
            transition: color 0.3s ease;
            box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
            transform: translateY(-5px);
            background-color: #C6A76F !important;
        }
    }
}

@mixin navigation {
    @include navigation_color;
    a{
        text-decoration: none;
        padding: 15px 20px;
        border-radius: 25px;
        font-size: 1.05rem;
        
        &:hover {
            transition: color 0.3s ease;
            box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
            transform: translateY(-5px);
        }
        i{
            margin: 0.5rem 0 0 0.5rem;
        }
    }

}
@mixin navigation-dark {
    @include dark_navigation_color;
    a{
        text-decoration: none;
        padding: 15px 20px;
        border-radius: 25px;
        font-size: 1.05rem;
        
        &:hover {
            transition: color 0.3s ease;
            box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
            transform: translateY(-5px);
        }
        i{
            margin: 0.5rem 0 0 0.5rem;
        }
    }

}