@import "_base.scss";
@import "_components.scss";

.header{
    padding: 2rem 0;
    .container{
        position:relative;

        @include xs {
            #menuBar{
                display: block;
                position: absolute;
                top: 10%;
                right: 10%;
                font-size: 2rem;
                cursor: pointer;
            }

            .navigation{
                display: block;

                .logo{

                    #home-btn{
                        width: fit-content;
                        height: fit-content;
                        #logoImage{
                            width: 4rem;
                            height: auto;
                        }
                        #logoText{
                            width: 6rem;
                            height: auto;
                        }
                    }
                }
                .navigationLinks{
                    display: none; /* Default state: hidden */
                    position: absolute;
                    top: 100%; /* Adjust as needed */
                    right: 0;
                    background-color: #5D7B9D;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    z-index: 1000;
                    
                    a{
                        display: block;

                        i{
                            margin-right: 0.5rem;
                        }
                    }
                    &.active{
                        display: block;
                        align-items: flex-start;
                        text-align: left;
                        padding: 0.5rem;
                        border-radius: 25px;
                        @include navigation;

                    }
                }
            }
        }
        @include md {
            #menuBar{
                display: block;
                position: absolute;
                top: 10%;
                right: 10%;
                font-size: 2rem;
                cursor: pointer;
            }

            .navigation{
                display: block;

                .logo{

                    #home-btn{
                        width: fit-content;
                        height: fit-content;
                        #logoImage{
                            width: 4rem;
                            height: auto;
                        }
                        #logoText{
                            width: 6rem;
                            height: auto;
                        }
                    }
                }

                .navigationLinks{
                    display: none;
                    align-items: center;
                    padding: 0.5rem;

                    .menuLinks{
                        height: fit-content;
                        width: fit-content;
                        a{
                            margin: 0.5rem 0;
                            text-decoration: none;
                            padding: 0.5rem !important;
    
                            i{
                                margin-right: 0.5rem;
                            }
                        }
                    }

                }
            }
        }
        @include lg {
            #menuBar{
                display: none;
            }

            .navigation{
                display: flex;
                justify-content: space-between;
                text-align: center;
                align-items: center;
                width: 100%;
                .logo{
                    z-index: 2000;
                    #home-btn{
                        width: auto;        
                        height: auto;          
                        #logoImage{
                            width: 4rem;
                            height: auto;
                        }
                        #logoText{
                            width: 6rem;
                            height: auto;
                        }
                    }
                }
                .navigationLinks{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    text-align: center;
                    background-color: transparent;
                    box-shadow: none;
                    width: 100%;
                    top: auto;
                    right: auto;
                    flex-direction: row;
                    z-index: 0;
                    @include navigation;

                    .menuLinks{
                        display: flex;
                    }
                    a{
                        &.active {
                            background-color: #5D7B9D;
                            color: #C6A76F;
                            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                            border-radius: 25px;
                        }
                    }
                }
            }
        }
        @include xl {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
        }

    }
   
}