@import "_base.scss";
@import "_typography.scss";
$bg-image: "/Images/BG_Contact.png";

.hero-section{
    position: relative;
    margin-bottom: -3rem;
    background-image: url(#{$bg-image});
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        @include xs {
            padding-block: 10rem;
            .hero{
                display: block;
                align-items: center;
                text-align: center;

                #quote{
                    font-size: 1.5rem;
                    text-align: center;
                    margin: 1rem 0;

                    h4{
                        @include title_big;
                    }
                    h5{
                        @include title_medium;
                    }
                }
                #open_shell_img{
                    display: none;
                    img{
                        width: 9rem;
                        height: auto;
                        position: absolute;
                        right: 10%;
                        bottom: -5rem;
                        z-index: 2;
                    }
                }
            }
        }
        @include sm {

        }
        @include md {
            padding-block: 12rem;
            .hero{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                #quote{
                    font-size: 1.5rem;
                    text-align: center;
                    margin: 1rem 2rem;

                    h4{
                        @include title_big;
                    }
                    h5{
                        @include title_medium;
                    }
                }
                #open_shell_img{
                    display: block;
                    img{
                        width: 20%;
                        height: auto;
                        position: absolute;
                        right: 0;
                        left: auto;
                        bottom: -60rem;
                    }
                }
            }
        }
        @include lg {
            .hero{
                padding-block: 12rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                #quote{
                    font-size: 1.5rem;
                    text-align: center;
                    margin: 0 2rem;
                    margin-top: -3rem;

                    h4{
                        @include title_big;
                    }
                    h5{
                        @include title_medium;
                    }
                }
                #open_shell_img{

                    img{
                        width: 25%;
                        height: auto;
                    }
                }
            }
        }
        @include xl {

        }
    }
    
}