@import "_base.scss";
@import "_typography.scss";

.hero-section{
    position: relative;
    .container{
        @include xs {
            padding-block: 10rem;
            .hero{
                display: block;
                align-items: center;
                text-align: center;

                #quote{
                    font-size: 1.5rem;
                    text-align: center;
                    margin: 1rem 0;

                    h4{
                        @include title_big;
                    }
                    h5{
                        @include title_small;
                    }
                }
                .profilePic{
                    margin-bottom: 1rem;

                    #profile{
                        position: absolute;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        top: 15%;
                        width: 10rem;
                        height: auto;
                        border-radius: 50%;
                    }
                }
                #open_shell_img{

                    img{
                        width: 9rem;
                        height: auto;
                        position: absolute;
                        right: 10%;
                        bottom: -5rem;
                        z-index: 2;
                    }
                }
            }
        }
        @include sm {

        }
        @include md {
            padding-block: 8rem;
            .hero{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                #quote{
                    font-size: 1.5rem;
                    text-align: center;
                    margin: 1rem 2rem;

                    h4{
                        @include title_big;
                    }
                    h5{
                        @include title_small;
                    }
                }

                .profilePic{
                    margin-bottom: 1rem;

                    #profile{
                        position: absolute;
                        left:auto;
                        transform: translate(0);
                        right: 0;
                        top: 18rem;
                        width: 18rem;
                        height: auto;
                        border-radius: 0;
                    }
                }
                #open_shell_img{

                    img{
                        width: 20%;
                        height: auto;
                        position: absolute;
                        right: 0;
                        left: auto;
                        bottom: -60rem;
                    }
                }
            }
        }
        @include lg {
            .hero{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                #quote{
                    font-size: 1.5rem;
                    text-align: center;
                    margin: 1rem 2rem;

                    h4{
                        @include title_big;
                    }
                    h5{
                        @include title_small;
                    }
                }

                .profilePic{
                    margin-bottom: 1rem;

                    #profile{
                        position: absolute;
                        right: 0;
                        top: 12rem;
                        width: 20rem;
                        height: auto;
                        border-radius: 0;
                    }
                }
                #open_shell_img{

                    img{
                        width: 25%;
                        height: auto;
                    }
                }
            }
        }
        @include xl {

        }
    }
    
}