@import "_color.scss";
.main{
    .container{
        @media(max-width: 767px) {
            .hero{
                display: block;
                text-align: center;
                justify-content: center;
                padding: 0;


                .profilePic{
                    margin-top: 80px;
                    padding-bottom: 50px;
                    position: relative;

                    #profile{
                        width: 150px;
                        height: auto;
                        border-radius: 100px;
                        border-bottom: 1px solid #263e40;
                        margin-right: 0;

                    }
                    
                }
                #quote{
                    margin: 0;
                    padding: 20px 20px 45px 0;
                    h4{
                        font-size: 1.5rem;
                        font-weight: 300;
                        padding-bottom: 10%;
                        font-style: italic;
                    }
                }
                #open_shell_img{

                    img{
                        width: 20%;
                        height: auto;
                        position: absolute;
                        top: 78%;
                        left: 70%;
                        z-index: 0;
                    }
                }
            }
        }

        @media(min-width: 768px){
            .hero{
                display: block;
                text-align: center;
                justify-content: center;
                padding: 0;


                .profilePic{
                    margin-top: 80px;
                    padding-bottom: 50px;
                    position: relative;

                    #profile{
                        width: 250px;
                        height: auto;
                        border-radius: 50px;
                        border-bottom: 1px solid #263e40;
                        margin-right: 0;
                        
                    }
                    
                }
                #quote{
                    margin: 0;
                    h4{
                        font-size: 1.2rem;
                        font-weight: 300;
                        font-style:italic;
                    }

                }
                #open_shell_img{

                    img{
                        width: 20%;
                        height: auto;
                        position: absolute;
                        top: 78%;
                        left: 70%;
                        z-index: 0;
                    }
                }
            }

        }

        @media(min-width: 992px){
            .hero{
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                text-align: center;
                padding: 50px 0 150px 0;

                .profilePic{
                    position: relative;

                    #profile{
                        width: 250px;
                        height: auto;
                        border-radius: 100px;
                        margin-right: 50px;

                    }

                }
                #quote{
                    margin-left: 50px;
                    padding: 20px 20px 45px 0;                    
                    h4{
                        font-size: 1.8rem;
                    }
                }
                #open_shell_img{

                    img{
                        width: 20%;
                        height: auto;
                        position: absolute;
                        top: 78%;
                        left: 70%;
                        z-index: 0;
                    }
                }
            }

        }

        @media(min-width: 1200px) {
            .hero{
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
                text-align: center;
                padding: 50px 0 150px 0;
                z-index: 0;
                .profilePic{
                    position: relative;
                    z-index: 1;

                    #profile{
                        width: 300px;
                        height: auto;
                        border-radius: 100px;
                        margin-right: 50px;

                    }
                }
                #quote{
                    margin-left: 50px;
                    padding: 20px 20px 45px 0;
                    z-index: 1;
                    h4{
                        font-size: 2rem;
                    }
                }
                #open_shell_img{

                    img{
                        width: 25%;
                        height: auto;
                        position: absolute;
                        top: 78%;
                        left: 70%;
                        z-index: 0;
                    }
                }
            }
 
        }
    }

}

