@import "_base.scss";

.projects{
    padding-block: 8rem;
    .container{
        @include xs {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include sm {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        @include md {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        @include lg {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        @include xl {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}