@import "_base.scss";
@import "_color.scss";
@import "_typography.scss";

.technical{
    @include background_secondary;
    .container{
        @include xs {
            padding-block: 8rem;
            display: block;
            align-items: center;
            text-align: center;

            h4{
                @include title_big;
                margin-bottom: 3rem;
            }
            ul{
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                gap: 2rem;
                li{
                    list-style: none;
                }
            }
        }
        @include sm {

        }
        @include md {

        }
        @include lg {

        }
        @include xl {

        }
    }
    
}