@import "_base.scss";
@import "_typography.scss";
@import "_color.scss";

.testimonials{
    display: none;
    padding-block: 8rem;
    .container{
        @include xs {
            padding-block: 8rem;
            display: block;
            align-items: center;
            text-align: center;

            h4{
                @include title_big;
                padding-bottom: 6rem;
            }
            .testimonial-slideshow{
                overflow: hidden;
                position: relative;

                .testimonial-grid{
                    display: flex;
                    transition: transform 0.5s ease-in-out;
                    will-change: transform;
    
                    .testimonial-card{
                        @include review_card;
                        flex: 0 0 100%;
                        margin: 1rem;
                        padding: 2rem 1rem;
                        border-radius: 10px 10px 25px 10px;
                    }
                }
            }

        }
        @include sm {

        }
        @include md {
            padding-block: 8rem;
            display: block;
            align-items: center;
            text-align: center;

            h4{
                @include title_big;
            }
            .testimonial-slideshow{
                overflow: hidden;
                position: relative;

                .testimonial-grid{
                    display: flex;
                    transition: transform 0.5s ease-in-out;
                    will-change: transform;
    
                    .testimonial-card{
                        @include review_card;
                        flex: 0 0 50%; 
                        margin: 1rem;
                        padding: 2rem 1rem;
                        border-radius: 10px 10px 25px 10px;
                    }
                }
            }

        }
        @include lg {
            padding-block: 8rem;
            display: block;
            align-items: center;
            text-align: center;

            h4{
                @include title_big;
            }
            .testimonial-slideshow{
                overflow: hidden;
                position: relative;

                .testimonial-grid{
                    display: flex;
                    transition: transform 0.5s ease-in-out;
                    will-change: transform;
    
                    .testimonial-card{
                        @include review_card;
                        flex: 0 0 33.33%; 
                        margin: 1rem;
                        padding: 2rem 1rem;
                        border-radius: 10px 10px 25px 10px;
                    }
                }
            }

        }
        @include xl {
 
        }
    }

}